body {
    padding: 30px;
}

.demo {
    font-family: 'Merienda One', cursive;
}

.github {
    color: hotpink;
    text-decoration: none;
    font-family: 'Merienda One', cursive;
}
  
.github:hover,
.github:active {
    color: red;
    text-decoration: none;
}

.javascript {
    color: palevioletred;
    text-align: center;
    font-family: 'Caveat', cursive;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}
  
.button {
    background-color: pink; /* pink */
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    margin: 50px;
}

.name {
    color: powderblue;
    margin: 10px;
}

.user {
    font-size: 80px;
    font-family: 'Caveat', cursive;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
}

@-webkit-keyframes glow {
    from {
      text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;
    }
    
    to {
      text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
    }
}
